<% provide(:title, "Edit tftp groups") %>
<h1>Edit tftp group</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@tftp) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :image %>
      <%= f.text_field :image %>

      <%= f.label :group %>
      <%= f.text_field :group %>

      <%= f.label :config %>
      <%= f.text_field :config %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

